*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	background-color:#fcfcfc;
	overflow: hidden;
}
.heading{
	margin: 5% 30%;
	font-size: 20px;
}

.main-book{
	display: flex;
	width: 90vw;
	height: 100vh;
	align-items:center;
	justify-content:space-between;
	margin:auto;
	visibility: hidden;
}
.prev{
	text-decoration: none;
	visibility:hidden;
	cursor: pointer;
	margin: 0 0 0 30px;
	
}
.next{
	text-decoration: none;
	visibility:visible;
	margin: 0 30px 0 0;
}
.zoom{
	font-size: 32px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0; 
	margin:5px;
	padding:0;


}

.text{
	margin: 5%;
}
#vid{
	margin: 5%;
}
.image-section{
	margin: 0 20%;
}

.gradient-right{
	background: rgb(0, 0, 0);
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.3692519244025736) 0%, rgba(137, 137, 137, 0.3672911400888481) 5%, rgba(255, 255, 255, 0) 10%);
}
.gradient-left{
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(137, 137, 137, 0.3672911400888481) 5%, rgba(255, 255, 255, 0) 10%);
}


.flipbook-viewport{
	width: 922px;
	height: 600px;
	margin-left: 200px;
	
}



.btns{
	margin: -40px 0 0 415px;
	font-size: 20px;

	
}


.page{
	/* width:461px;
	height:600px; */
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}


.zoom-icon-in {
	background-position: 0 0;
	cursor: pointer;
}

.zoom-icon-in.zoom-icon-in-hover {
	background-position: -22px 0;
	cursor: pointer;
}

.zoom-icon-out {
	background-position: -44px 0;
}

.zoom-icon-out.zoom-icon-out-hover {
	background-position: -66px 0;
	cursor: pointer;
}

.bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

@media only screen and (max-width: 600px){
	.parent{
		position:relative;
		width: 100vw;
		height: 100vh;
	}
	.btns{
		position:absolute;
        font-size: 30px;
		margin-top: -140px;
		margin-left: 130px;
		display: flex;
		justify-content: space-between;
	}

	.flipbook-viewport{
		margin-left: 0;

	}
	.flipbook{
		transform: scale(0.4);
		margin-top: -60px !important;
		margin-left: -270px !important;
	}
}




