*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	background: rgb(245, 174, 236);
	background: linear-gradient(90deg, rgba(245, 174, 236, 1) 0%, rgba(181, 255, 255, 1) 100%);
	overflow: hidden;
}
.heading{
	margin: 5% 30%;
	font-size: 20px;
}

.main-book{
	display: flex;
	width: 50vw;
	height: 100vh;
	align-items:center;
	justify-content:space-between;
	margin:auto;
	visibility: hidden;
}
.btns a i{
	color: #222;
}
.btns a i:hover{
	color: red;

}
.prev{
	visibility:hidden;
	cursor: pointer;
	margin: 0 0 0 30px;
	
}
.next{
	visibility:visible;
	margin: 0 30px 0 0;
}
#btns-top{
	display: flex;
	justify-content: flex-end;
}
.back{
	font-size: 27px;
	position: absolute;
	margin-right: 60px;
	top: 10px;
}
.refresh{
	font-size: 27px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0; 
	margin:10px;
	padding:0;


}

.text{
	margin: 5%;
}
#vid{
	margin: 5%;
}
.image-section{
	margin: 0 20%;
}

.gradient-right{
	background: rgb(0, 0, 0);
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.3692519244025736) 0%, rgba(137, 137, 137, 0.3672911400888481) 5%, rgba(255, 255, 255, 0) 10%);
}
.gradient-left{
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(137, 137, 137, 0.3672911400888481) 5%, rgba(255, 255, 255, 0) 10%);
}


.flipbook-viewport{
	width: 922px;
	height: 600px;
	margin-left: 200px;
	
}

.btns{
	margin: -40px 0 0 415px;
	font-size: 20px;
}


.page{
	/* width:461px;
	height:600px; */
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.shadow{
	box-shadow:0 0 20px #ccc;
}

.bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

@media only screen and (max-width: 500px){
	.refresh{
		font-size: 27px;
		
	}
	.back{
		margin-right: 50px;
		top: 10px;
	}
	.parent{
		position:relative;
		width: 100vw;
		height: 100vh;
	}
	.btns{
		position:absolute;
        font-size: 30px;
		margin-top: -140px;
		margin-left: 130px;
		display: flex;
		justify-content: space-between;
	}

	.flipbook-viewport{
		margin-left: 0;

	}
	.flipbook{
		margin-top: -60px !important;
		margin-left: -270px !important;
	}
}
@media screen and (orientation:landscape) and (min-device-width: 600px) and (max-device-width: 1000px){
	.back{
		margin-right: 50px;
		font-size: 30px;
		top: 5px;
	}
	.btns {
		margin: -140px 0 0 300px;
	}
	.flipbook{
		margin-left: -100px !important;
	}
	.flipbook-viewport{
		margin-left: 0px;
	}
}
@media screen and (orientation:landscape) and (min-device-width: 500px) and (max-device-width: 600px) {
	.flipbook{
		margin-left: -200px !important;
	}
	.flipbook-viewport{
		margin-left: 0px;
	}
	.btns{
		margin: -170px 0 0 200px;
	}
}
@media screen and (min-device-width: 1000px) and (max-device-width: 1100px) {
	.back {
		font-size: 45px;
		margin-right: 80px;
	}
	
	.refresh{
		font-size: 45px;
	}
	.flipbook {
		margin-left: 50px !important;
		transform: scale(1)!important;
	}

	.flipbook-viewport {
		margin-left: 0px;
	}

	.btns {
		margin: 70px 0 0 400px;
		font-size: 70px;
	}
}
@media screen and (min-device-width: 700px) and (max-device-width: 800px) {
	.flipbook {
		margin-left: -80px!important;
	}

	.flipbook-viewport {
		margin-left: 0px;
	}

	.btns {
		margin: -140px 0 0 320px;
		font-size: 30px;
	}
}
